.request{
    border-width: 2px;
    border-color: black;
    border-radius: 10px;
    border-style: solid;
    padding: 1em;
    margin: 1em;
    }
    
.request:first-child{
    margin-top: 0;
}

.scrollable{
    overflow-y:auto;
    height: 500px;
    width: 100%;
}
    
header{
    width:25%;
    margin:0 auto 1em auto;
}

ul.span{
    list-style-type:none;
    overflow: hidden;
    margin:1em 0;
    padding:0;
}   

li.span{
    display: inline;
    float: left;
    margin: 0 1em;
}

li.span:first-child{
    margin-left: 0;
}
    
.request-form{
    margin: 1em;
}                
  