{% extends "site_request_app/base.html" %}
{% block content %}
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-12">
                <header><h1 class="entry-header">Site Requests</h1></header>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-2">
              <ul class="nav nav-pills nav-stacked">
                  <li role="presentation"><a href="{% url 'requests:addrequest' %}">Add New Request</a></li>
                  <li role="presentation"><a href="/admin">Admin Page</a></li>
              </ul>
            </div>
            <div class="col-xs-8">       
              <div class="scrollable">         
                {% for request in sorted_request_list %}
                <div class="request">
                  <span><h3>{{request.title}}</h3></span>
                  <ul class="span">
                    <li class="span">
                        <form action="{% url 'requests:vote' request.id%}" method="post">
                        {% csrf_token %}
                          <button type="submit vote-button" class="btn btn-default" aria-label="Left Align">
                            <span class="glyphicon glyphicon-ok-circle glyphicon-align-left" aria-hidden="true"></span>
                          </button>
                        </form>
                    </li>
                    <li class="span">
                        <h4 class="vote-label">Votes:   <span class="label label-info">{{request.votes}}</span></h4>
                    </li>
                  </ul>
                  <span>
                     <p>{{request.description}}</p>
                  </span>
                </div>
                {% endfor %}   
               </div>            
              </div>
            </div>
          </div>
{% endblock %}