{% extends "site_request_app/base.html" %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% block content %}
        <div class="input-form">
        <header><h1>Add A Request</h1></header>
        <form class="request-form" action="{% url 'requests:processaddrequest' %}" method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="titleInput">Title</label>
            <input type="text" class="form-control" name="titleInput" id="title-input" placeholder="Enter title">
          </div>
          <div class="form-group">
            <label for="descriptionInput">Description</label>
            <input type="text" class="form-control" name="descriptionInput" id="description-input" placeholder="description">
          </div>          
          <button type="submit" formaction="{% url 'requests:index' %}" formethod="get" class="btn btn-default">Cancel</button>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
        </div>
{% endblock %}