<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8" />
    <!--link href="{%static 'site_request_app/css/style1.css' %}" rel="stylesheet" type="text/css" /-->
    <link href="{%static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <title>Site Request Test</title>
</head>
<body>
    <div class="request">
        <h3 class="title">Test Request 1</h3>
        <h4 class="label">Votes: </h4><h5 class="votes">77</h5>
        <p class="description">
        This is a description for request 1<br>
        This is a second line for request 1<br>        
        </p>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{%static 'js/bootstrap.min.js' %}"></script>
</body>
</html>